<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="DBMain" connectionString="Data Source= RACKET216-PC\LOCAL;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBMain" connectionString="Data Source=Racket102-pc\SQLEXPRESS;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBMain" connectionString="Data Source=WIN-0LHAOSODL41\SQLEXPRESS;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=admin123456!" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBMain" connectionString="Data Source=DESKTOP-U5R86GV\LOCAL;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <add name="DBMain" connectionString="Data Source=DEVSERVER\SQLEXPRESS;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SourcePath" value="D:\ImportFinished"/>
    <add key="TargetPath" value="D:\Finish"/>
  </appSettings>
</configuration>
