<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <!--<add name="DBMain" connectionString="Data Source= RACKET216-PC\LOCAL;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBMain" connectionString="Data Source=Racket102-pc\SQLEXPRESS;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBMain" connectionString="Data Source=WIN-0LHAOSODL41\SQLEXPRESS;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=admin123456!" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBMain" connectionString="Data Source=DESKTOP-U5R86GV\LOCAL;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <add name="DBMain" connectionString="Data Source=DEVSERVER\SQLEXPRESS;Initial Catalog=SalesManagement;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
